In [1]:
import  pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Iris-f.csv")
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            NaN           3.6            1.4           0.2  Iris-setosa

In [3]:
df.isna().sum()

SepalLengthCm    2
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

In [4]:
df[df.isna().any(axis=1)].index

Int64Index([4, 7, 10, 20], dtype='int64')

Removing of rows and columns

In [19]:
df1 = df.copy(deep=True)

In [20]:
df1.dropna(axis=0,inplace=True)

In [21]:
df1.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [22]:
df1.shape

(146, 5)

In [23]:
df1.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa

In [24]:
df1.dropna(axis=0,inplace=True,thresh=4)

In [25]:
df1.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa

In [26]:
df2 = df.copy(deep=True)

In [27]:
df2.fillna(0)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              0.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [28]:
df2.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            NaN           3.6            1.4           0.2  Iris-setosa

In [29]:
df2.iloc[[4,7,10,20],:]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             NaN           3.6            1.4           0.2  Iris-setosa
7             5.0           NaN            NaN           0.2  Iris-setosa
10            5.4           3.7            1.5           0.2          NaN
20            NaN           3.4            1.7           0.2  Iris-setosa

In [30]:
###df2.fillna(0,inplace=True)
df2.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            NaN           3.6            1.4           0.2  Iris-setosa

##

In [31]:
df2.mean()

C:\Users\aayushi sinha\AppData\Local\Temp\ipykernel_8164\3587575296.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.mean()

SepalLengthCm    5.852027
SepalWidthCm     3.051678
PetalLengthCm    3.773826
PetalWidthCm     1.198667
dtype: float64

In [32]:
df2.fillna(df2.mean(),inplace=True)

C:\Users\aayushi sinha\AppData\Local\Temp\ipykernel_8164\1812428121.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.fillna(df2.mean(),inplace=True)

In [33]:
df2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0         5.100000           3.5            1.4           0.2     Iris-setosa
1         4.900000           3.0            1.4           0.2     Iris-setosa
2         4.700000           3.2            1.3           0.2     Iris-setosa
3         4.600000           3.1            1.5           0.2     Iris-setosa
4         5.852027           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145       6.700000           3.0            5.2           2.3  Iris-virginica
146       6.300000           2.5            5.0           1.9  Iris-virginica
147       6.500000           3.0            5.2           2.0  Iris-virginica
148       6.200000           3.4            5.4           2.3  Iris-virginica
149       5.900000           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [34]:
df2['Species'].fillna(df2['Species'].mode(),inplace=True)

In [35]:
df2.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0       5.100000           3.5            1.4           0.2  Iris-setosa
1       4.900000           3.0            1.4           0.2  Iris-setosa
2       4.700000           3.2            1.3           0.2  Iris-setosa
3       4.600000           3.1            1.5           0.2  Iris-setosa
4       5.852027           3.6            1.4           0.2  Iris-setosa

In [36]:
df2.fillna(method="bfill")
df2.head(10)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0       5.100000      3.500000       1.400000           0.2  Iris-setosa
1       4.900000      3.000000       1.400000           0.2  Iris-setosa
2       4.700000      3.200000       1.300000           0.2  Iris-setosa
3       4.600000      3.100000       1.500000           0.2  Iris-setosa
4       5.852027      3.600000       1.400000           0.2  Iris-setosa
5       5.400000      3.900000       1.700000           0.4  Iris-setosa
6       4.600000      3.400000       1.400000           0.3  Iris-setosa
7       5.000000      3.051678       3.773826           0.2  Iris-setosa
8       4.400000      2.900000       1.400000           0.2  Iris-setosa
9       4.900000      3.100000       1.500000           0.1  Iris-setosa

In [37]:
from sklearn.impute import SimpleImputer

In [38]:
si=SimpleImputer()

In [39]:
si.fit_transform(df2)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'Iris-setosa'

In [26]:
df3=df.copy(deep=True)
si.fit_transform(df3.iloc[:,0:4])

array([[5.1       , 3.5       , 1.4       , 0.2       ],
       [4.9       , 3.        , 1.4       , 0.2       ],
       [4.7       , 3.2       , 1.3       , 0.2       ],
       [4.6       , 3.1       , 1.5       , 0.2       ],
       [5.85202703, 3.6       , 1.4       , 0.2       ],
       [5.4       , 3.9       , 1.7       , 0.4       ],
       [4.6       , 3.4       , 1.4       , 0.3       ],
       [5.        , 3.05167785, 3.7738255 , 0.2       ],
       [4.4       , 2.9       , 1.4       , 0.2       ],
       [4.9       , 3.1       , 1.5       , 0.1       ],
       [5.4       , 3.7       , 1.5       , 0.2       ],
       [4.8       , 3.4       , 1.6       , 0.2       ],
       [4.8       , 3.        , 1.4       , 0.1       ],
       [4.3       , 3.        , 1.1       , 0.1       ],
       [5.8       , 4.        , 1.2       , 0.2       ],
       [5.7       , 4.4       , 1.5       , 0.4       ],
       [5.4       , 3.9       , 1.3       , 0.4       ],
       [5.1       , 3.5       , 1.4       , 0.3       ],
       [5.7       , 3.8       , 1.7       , 0.3       ],
       [5.1       , 3.8       , 1.5       , 0.3       ],
       [5.85202703, 3.4       , 1.7       , 0.2       ],
       [5.1       , 3.7       , 1.5       , 0.4       ],
       [4.6       , 3.6       , 1.        , 0.2       ],
       [5.1       , 3.3       , 1.7       , 0.5       ],
       [4.8       , 3.4       , 1.9       , 0.2       ],
       [5.        , 3.        , 1.6       , 0.2       ],
       [5.        , 3.4       , 1.6       , 0.4       ],
       [5.2       , 3.5       , 1.5       , 0.2       ],
       [5.2       , 3.4       , 1.4       , 0.2       ],
       [4.7       , 3.2       , 1.6       , 0.2       ],
       [4.8       , 3.1       , 1.6       , 0.2       ],
       [5.4       , 3.4       , 1.5       , 0.4       ],
       [5.2       , 4.1       , 1.5       , 0.1       ],
       [5.5       , 4.2       , 1.4       , 0.2       ],
       [4.9       , 3.1       , 1.5       , 0.1       ],
       [5.        , 3.2       , 1.2       , 0.2       ],
       [5.5       , 3.5       , 1.3       , 0.2       ],
       [4.9       , 3.1       , 1.5       , 0.1       ],
       [4.4       , 3.        , 1.3       , 0.2       ],
       [5.1       , 3.4       , 1.5       , 0.2       ],
       [5.        , 3.5       , 1.3       , 0.3       ],
       [4.5       , 2.3       , 1.3       , 0.3       ],
       [4.4       , 3.2       , 1.3       , 0.2       ],
       [5.        , 3.5       , 1.6       , 0.6       ],
       [5.1       , 3.8       , 1.9       , 0.4       ],
       [4.8       , 3.        , 1.4       , 0.3       ],
       [5.1       , 3.8       , 1.6       , 0.2       ],
       [4.6       , 3.2       , 1.4       , 0.2       ],
       [5.3       , 3.7       , 1.5       , 0.2       ],
       [5.        , 3.3       , 1.4       , 0.2       ],
       [7.        , 3.2       , 4.7       , 1.4       ],
       [6.4       , 3.2       , 4.5       , 1.5       ],
       [6.9       , 3.1       , 4.9       , 1.5       ],
       [5.5       , 2.3       , 4.        , 1.3       ],
       [6.5       , 2.8       , 4.6       , 1.5       ],
       [5.7       , 2.8       , 4.5       , 1.3       ],
       [6.3       , 3.3       , 4.7       , 1.6       ],
       [4.9       , 2.4       , 3.3       , 1.        ],
       [6.6       , 2.9       , 4.6       , 1.3       ],
       [5.2       , 2.7       , 3.9       , 1.4       ],
       [5.        , 2.        , 3.5       , 1.        ],
       [5.9       , 3.        , 4.2       , 1.5       ],
       [6.        , 2.2       , 4.        , 1.        ],
       [6.1       , 2.9       , 4.7       , 1.4       ],
       [5.6       , 2.9       , 3.6       , 1.3       ],
       [6.7       , 3.1       , 4.4       , 1.4       ],
       [5.6       , 3.        , 4.5       , 1.5       ],
       [5.8       , 2.7       , 4.1       , 1.        ],
       [6.2       , 2.2       , 4.5       , 1.5       ],
       [5.6       , 2.5       , 3.9       , 1.1       ],
       [5.9       , 3.2       , 4.8       , 1.8       ],
       [6.1       , 2.8       , 4.        , 1.3       ],
       [6.3       , 2.5       , 4.9       , 1.5       ],
       [6.1       , 2.8       , 4.7       , 1.2       ],
       [6.4       , 2.9       , 4.3       , 1.3       ],
       [6.6       , 3.        , 4.4       , 1.4       ],
       [6.8       , 2.8       , 4.8       , 1.4       ],
       [6.7       , 3.        , 5.        , 1.7       ],
       [6.        , 2.9       , 4.5       , 1.5       ],
       [5.7       , 2.6       , 3.5       , 1.        ],
       [5.5       , 2.4       , 3.8       , 1.1       ],
       [5.5       , 2.4       , 3.7       , 1.        ],
       [5.8       , 2.7       , 3.9       , 1.2       ],
       [6.        , 2.7       , 5.1       , 1.6       ],
       [5.4       , 3.        , 4.5       , 1.5       ],
       [6.        , 3.4       , 4.5       , 1.6       ],
       [6.7       , 3.1       , 4.7       , 1.5       ],
       [6.3       , 2.3       , 4.4       , 1.3       ],
       [5.6       , 3.        , 4.1       , 1.3       ],
       [5.5       , 2.5       , 4.        , 1.3       ],
       [5.5       , 2.6       , 4.4       , 1.2       ],
       [6.1       , 3.        , 4.6       , 1.4       ],
       [5.8       , 2.6       , 4.        , 1.2       ],
       [5.        , 2.3       , 3.3       , 1.        ],
       [5.6       , 2.7       , 4.2       , 1.3       ],
       [5.7       , 3.        , 4.2       , 1.2       ],
       [5.7       , 2.9       , 4.2       , 1.3       ],
       [6.2       , 2.9       , 4.3       , 1.3       ],
       [5.1       , 2.5       , 3.        , 1.1       ],
       [5.7       , 2.8       , 4.1       , 1.3       ],
       [6.3       , 3.3       , 6.        , 2.5       ],
       [5.8       , 2.7       , 5.1       , 1.9       ],
       [7.1       , 3.        , 5.9       , 2.1       ],
       [6.3       , 2.9       , 5.6       , 1.8       ],
       [6.5       , 3.        , 5.8       , 2.2       ],
       [7.6       , 3.        , 6.6       , 2.1       ],
       [4.9       , 2.5       , 4.5       , 1.7       ],
       [7.3       , 2.9       , 6.3       , 1.8       ],
       [6.7       , 2.5       , 5.8       , 1.8       ],
       [7.2       , 3.6       , 6.1       , 2.5       ],
       [6.5       , 3.2       , 5.1       , 2.        ],
       [6.4       , 2.7       , 5.3       , 1.9       ],
       [6.8       , 3.        , 5.5       , 2.1       ],
       [5.7       , 2.5       , 5.        , 2.        ],
       [5.8       , 2.8       , 5.1       , 2.4       ],
       [6.4       , 3.2       , 5.3       , 2.3       ],
       [6.5       , 3.        , 5.5       , 1.8       ],
       [7.7       , 3.8       , 6.7       , 2.2       ],
       [7.7       , 2.6       , 6.9       , 2.3       ],
       [6.        , 2.2       , 5.        , 1.5       ],
       [6.9       , 3.2       , 5.7       , 2.3       ],
       [5.6       , 2.8       , 4.9       , 2.        ],
       [7.7       , 2.8       , 6.7       , 2.        ],
       [6.3       , 2.7       , 4.9       , 1.8       ],
       [6.7       , 3.3       , 5.7       , 2.1       ],
       [7.2       , 3.2       , 6.        , 1.8       ],
       [6.2       , 2.8       , 4.8       , 1.8       ],
       [6.1       , 3.        , 4.9       , 1.8       ],
       [6.4       , 2.8       , 5.6       , 2.1       ],
       [7.2       , 3.        , 5.8       , 1.6       ],
       [7.4       , 2.8       , 6.1       , 1.9       ],
       [7.9       , 3.8       , 6.4       , 2.        ],
       [6.4       , 2.8       , 5.6       , 2.2       ],
       [6.3       , 2.8       , 5.1       , 1.5       ],
       [6.1       , 2.6       , 5.6       , 1.4       ],
       [7.7       , 3.        , 6.1       , 2.3       ],
       [6.3       , 3.4       , 5.6       , 2.4       ],
       [6.4       , 3.1       , 5.5       , 1.8       ],
       [6.        , 3.        , 4.8       , 1.8       ],
       [6.9       , 3.1       , 5.4       , 2.1       ],
       [6.7       , 3.1       , 5.6       , 2.4       ],
       [6.9       , 3.1       , 5.1       , 2.3       ],
       [5.8       , 2.7       , 5.1       , 1.9       ],
       [6.8       , 3.2       , 5.9       , 2.3       ],
       [6.7       , 3.3       , 5.7       , 2.5       ],
       [6.7       , 3.        , 5.2       , 2.3       ],
       [6.3       , 2.5       , 5.        , 1.9       ],
       [6.5       , 3.        , 5.2       , 2.        ],
       [6.2       , 3.4       , 5.4       , 2.3       ],
       [5.9       , 3.        , 5.1       , 1.8       ]])

In [28]:
si1=SimpleImputer(strategy="most_frequent")

In [29]:
si1.fit_transform(df[['Species']])

array([['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-versicolor'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica']], dtype=object)

In [34]:
df5=df.iloc[:,0:4]
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
ans=mm.fit_transform(df5)